@import "tailwindcss";
@font-face {
  font-family: "Coolvetica Compressed HV";
  src: url("../assets/fonts/coolvetica-compressed-hv.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica Condensed RG";
  src: url("../assets/fonts/coolvetica-condensed-rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica Crammed RG";
  src: url("../assets/fonts/coolvetica-crammed-rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica RG IT";
  src: url("../assets/fonts/coolvetica-rg-it.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Coolvetica RG";
  src: url("../assets/fonts/coolvetica-rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #e5e5e5;
  font-family: "Coolvetica RG", sans-serif;
  letter-spacing: 0.03em;
  color: #6d758f;
}
